{% include "replicator/header.html" %}

DFRSync v{{ app_version }}<br>
<br>
<br>
All replications:<br><br>
{% for replication in object_list %}
<a href="{% url 'replicator:replication_detail' replication.id %}">{{ replication.name }}</a> [<a href="{% url 'replicator:run_replication_task' replication.id %}">run</a>]  [<a href="{% url 'replicator:delete_replication' replication.id %}">delete</a>]<br>
{% endfor %}<br>
<br>
[<a href="{% url 'replicator:add_replication' %}">add new</a>] <br>
[<a href="{% url 'replicator:replication_task_runner' %}">task runner</a>] <br>
[<a href="{% url 'replicator:scheduler' %}">scheduler</a>] <br>
<br>
[<a href="{% url 'replicator:show_log' %}">show log</a>] <br>
(c) phx<br>
