{% include "replicator/header.html" %}
<!-- detail, not form -->
<h1>Replication schedule {{ object.pk }} info:</h1>
<p>Name: {{ object.name }}</p>
<p>Run schedule: {{ object.hr_schedule }}</p>
<p>Hour: {{ object.hour }}</p>
<p>Minute: {{ object.minute }}</p>
<p>Second: {{ object.second }}</p>
<p>Time: {{ object.time }}</p>
<p>Day of month: {{ object.dom }}</p>
<p>Month: {{ object.month }}</p>
<p>Year: {{ object.year }}</p>
<p>Day of week: {{ object.dow }}</p>
<p>Enabled: {{ object.enabled }}</p>
<br>
<br>
Launched by this schedule tasks: <br>
{% for task in object.related_tasks %}
	task {{ task }}: <span style="display: inline-block; width: 1ch;"> </span> {{ task.state }}, <span style="display: inline-block; width: 1ch;"> </span> {{ task.start }} - {{ task.end }} <span style="display: inline-block; width: 1ch;"> </span> {% if task.dry_run%} dry run {% endif %} [ <a href="{% url 'replicator:replication_task_detail' task.id %}" title="show this task">show</a> ]<br>
{% endfor %}
