{% include "replicator/header.html" %}

<h1>Scheduler</h1>

{% for schedule in schedules %}
<a href="{% url 'replicator:edit_schedule' schedule.id %}">{{ schedule.name }}</a>
[ <a href="{% url 'replicator:schedule_detail' schedule.id %}">show</a> ]
{% if schedule.enabled %}
 enabled [<a href="{% url 'replicator:disable_schedule' schedule.id %}">disable</a>] 
{% else %}
 disabled [<a href="{% url 'replicator:enable_schedule' schedule.id %}">enable</a>]
{% endif %} 
[<a href="{% url 'replicator:delete_schedule' schedule.id %}">delete</a>]<br>
{% endfor %}
<br>
<br>
<a href="{% url 'replicator:add_schedule' %}">add schedule</a> <br>


